extends ../template/15-grid
block title
	title Auto | Hochwertige Fahrzeuge | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image boot")
					a(href="boot.html")
						h3 Boot
			div(class="small-5 columns text-center")
				div(class="image auto active")
					a(href="auto.html")
						h3 Auto
			div(class="small-5 columns text-center")
				div(class="image flugzeug")
					a(href="flugzeug.html")
						h3 Flugzeug
	div.row
		div(class="large-10 columns")
			dl(class="accordion")
				dd(class="accordion-navigation active")
					div.inactive Premium Cars
					div(id="panel1" class="content active")
						article
							h4.nocontent Premium Cars
							p
								b Ob Alltagsfahrzeug, Old- oder Youngtimer: Wir bieten maßgeschneiderte Lösungen.
							p Wenn Sie folgende Voraussetzungen erfüllen, versichern wir den Markt- oder Wiederherstellungswert Ihres Fahrzeuges.

							ul
								li keine alltägliche Nutzung
								li Alltags-PkW vorhanden
								li Garage/Carport als überwiegender Abstellort
								li alle Fahrer mind. 23 Jahre alt
								li jährliche Fahrleistung max. 10.000 km

							h5.subheader Besonderheit
							ul
								li Fixprämien anstatt Bonussystem
								li Wiederherstellungswert versicherbar
								li Vorsorgedeckung bei Marktwertsteigerung bis 30%


		div(class="small-5 columns")
			include  ../partials/inquiry


