extends ../template/15-grid
block title
	title Boot | Hochwertige Fahrzeuge | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image boot active")
					a(href="boot.html")
						h3 Boot
			div(class="small-5 columns text-center")
				div(class="image auto")
					a(href="auto.html")
						h3 Auto
			div(class="small-5 columns text-center")
				div(class="image flugzeug")
					a(href="flugzeug.html")
						h3 Flugzeug
	div.row
		div(class="large-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					div.inactive Boot
					div(id="panel1" class="content active")
						article
							h4.nocontent Boot
							p.
								Sie als Bootsbesitzer haften mit Ihrem gesamten Vermögen für Schäden, die im Zusammenhang mit dem Besitz
								oder dem Gebrauch Ihres Bootes einem Dritten zugefügt werden. Wir bieten Ihnen eine maßgeschneiderte
								Versicherungslösung für Ihre Segelyacht, Ihr Motorboot oder Ihre Motoryacht.

							h5 Boot-Haftpflicht
							p.
								Weltweit versichert sind sowohl Personen-, als auch Sach- und Vermögensschäden.
								Es sind Schäden versichert, die ein Dritter verursacht und seiner Verpflichtung zum Schadensersatz ganz oder teilweise nicht
								nachkommen kann.
							p.
								Trailer- und Beiboot sind mitversichert <br>
								Versichert sind Ihr nicht versicherungspflichtiger Trailer (grünes Kennzeichen) und ihr Beiboot mit oder ohne Motor.
							p.
								Gewässerschäden <br>
								Schäden, die aus der Verunreinigung von Gewässern inkl. des Grundwassers entstehen.
							p.
								Die juristische Abwehr unberechtigter Schadenersatzansprüche seitens Dritter ist automatisch mitversichert

							h5 Boot-Kasko
							ul
								li
									b All-Gefahren-Deckung
									p Nahezu alle Gefahren sind versichert, während das Boot vor Anker liegt, genutzt wird oder eingelagert ist.
								li
									b Erstattung ohne Abzüge
									p Das Boot wird zur festen Versicherungssumme versichert
								li
									b Bootstransport mitversichert
									p Der Versicherungsschutz besteht auch in den an das vereinbarte Fahrtgebiet angrenzenden Ländern auf dem Transportweg.
								li
									b Keine Abzüge „neu für alt“
									p Wertsteigerung bei Wiederherstellung von Teilschäden mit Neuteilen werden nicht abgezogen
								li
									b Wrackbeseitigungskosten bis 2,5 Mio. EUR
									p &nbsp;
								li
									b Effekte bis 2.500,00 EUR beitragsfrei
									p Geräte sowie Gegenstände die nicht fest mit dem Boot verbunden sind (z.B. Kleidungsstücke, Ferngläser, nautische Geräte usw.)
							h5 Boot-Zusatzversicherungen
								li
									b Trailer Kasko-Versicherung
		div(class="small-5 columns")
			include  ../partials/inquiry

