extends ../template/15-grid
block title
	title Flugzeug | Hochwertige Fahrzeuge | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image boot")
					a(href="boot.html")
						h3 Boot
			div(class="small-5 columns text-center")
				div(class="image auto")
					a(href="auto.html")
						h3 Auto
			div(class="small-5 columns text-center")
				div(class="image flugzeug active")
					a(href="flugzeug.html")
						h3 Flugzeug
	div.row
		div(class="large-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation")
					a(href="#panel1") Luftfahrtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4.nocontent Luftfahrtversicherung
							p
								b In der Luft und am Boden, wir bieten eine maßgeschneiderte Absicherung.
							p.
								Wie das Durchgehen einer Checkliste, überlassen wir nichts dem Zufall. Wir wissen worauf es beim
								Luftfahrtversicherungsschutz am Boden oder in der Luft ankommt.
								</br>
								Mit einem Baukastenprinzip können Sie Ihren
								Versicherungsschutz bei Bedarf jederzeit individuell anpassen.

							ul
								li
									b Halter-Haftpflicht-Versicherung
									p
										i (Pflichtversicherung)
								li
									b Passagier-Haftpflicht-Versicherung
									p
										i (Pflichtversicherung bei Beförderungsvertrag)
										br
										i Beide Versicherungen können in Kombination abgeschlossen werden in einer
								li
									b Combined-Single-Limit-Deckung (CSL)
									p
										i das schafft Flexibilität und Sicherheit im Schadenfall.
								li
									b Luftfahrt-Kaskoversicherung
								li
									b Sitzplatz-Unfallversicherung
								li
									b Triebwerksversicherung


				dd(class="accordion-navigation active")
					a(href="#panel2") Luftsportverein und Luftfahrtbetrieb am Boden
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content active")
						article
							h4.nocontent Luftsportverein und Luftfahrtbetrieb am Boden
							p
								b Sorgenfrei Abheben.
							p.
								Bei dieser anspruchsvollen Aufgabe stehen wir Ihnen zur Seite. Bei uns erhalten Sie individuelle
								Versicherungskonzepte für:
							ul
								li
									b Flottenversicherung für Luftsportvereine
								li
									b Luftsportverein-Haftpflichtversicherung 
								li
									b Luftfahrtveranstalter-Haftpflichtversicherung
								li
									b Flug- und/oder Landeplatz-Haftpflichtversicherung 
								li
									b Startwinde-Versicherung

							p Wir analysieren Ihre spezielle Risikosituation und sorgen für ein maßgeschneidertes Versicherungskonzept.


		div(class="small-5 columns")
			div.inquiry
				include  ../partials/inquiry


