/* all app scss styles here */
@import "foundation/components/accordion";

$primary-darken-color: darken($primary-color, 10%);
$grey: #e8e8e8;


a {
  color: $body-font-color;

  &:hover {
	color: lighten($body-font-color, 20%);
  }
}

body {
  min-width: $row-width;
}


.nocontent {
  display: none;
}

dl.accordion {
  > dd.accordion-navigation {
    margin-bottom: .5em !important;

    >.inactive {
      background: $accordion-navigation-bg-color;
      color: $accordion-navigation-font-color;
      padding: $accordion-navigation-padding;
      display: block;
      font-weight: bold;
      font-family: $accordion-navigation-font-family;
      font-size: $accordion-navigation-font-size;
    }

  	>a {
  	  font-weight: 600;
  	}

    .content {
      border: 1px solid $grey;
	  
  	  ul {
  		  margin-left: 3.5em;
  	  }
    }
  }

  .fa {
	display: block;
	float: right;
	font-size: em-calc(12px);
	margin-top: .2em;
	font-weight: normal;
  }

.fa-plus{
	display:inline;
}
.fa-minus{
	display:none;
}
  .active {
	.fa-plus{
	  display:none;
	}
	.fa-minus{
	  display:inline;
	}
  }
}

a.inquiry {
  margin-top: 3em;
  padding: 1em 1.5em;
  display: inline-block;
  font-weight: 600;
  border: 1px solid scale-color($primary-color, $lightness: 70%);
  background-color: scale-color($primary-color, $lightness: 80%);
  transition: background-color 2s, border .5s;

  &:hover {
    border: 1px solid $primary-color;
    background-color: scale-color($primary-color, $lightness: 50%);
    color: $body-font-color;
  }
}

div.inquiry, .callout {
  padding: 1em 1.5em;
  background-color: $secondary-color;
  margin-bottom: 1.5em;

  &.success {
	background-color: scale-color($success-color, $lightness: 80%);
	border-color: scale-color($success-color, $lightness: 70%);;
  }
}


footer {
  text-align: center;
  font-size: em-calc(14px);
  margin-bottom: 5em;

  .dark-panel {
	font-size: em-calc(20px);
	background-color: #959494;
	padding: .7em;
	margin-bottom: 1em;
	font-family: 'Neuton', serif;
	color: #fff;
	letter-spacing: .1em;
  }

  .logo {
	background: url('../images/footer_logo_schimmel.png');
	width: 186px;
	height: 51px;
	margin: 0 auto;
	margin-top: 1.5em;
  }
}