/* all app scss styles here */

$panel-height: 230px;
$big-panel-height: 300px;
$own-panel-color: #e8e8e8;


header {

  background: url("../images/header_schimmel.jpg");
  width: 100%;
  height: 226px;
  margin-bottom: $column-gutter;
  text-align: center;
  padding-top: 1.5em;
  margin-top: 2em;
  box-sizing: border-box;

  h1, h2 {
    color: #fff;
    font-size: em-calc(18px);
    font-weight: 600;
    margin: 0;
    line-height: 1.2em;
  }

  h2 {
    font-weight: normal;
  }

  .logo {
    background: url('../images/logo_schimmel.png');
    width: 100px;
    height: 116px;
    margin: 0 auto;
    margin-top: 1.3em;
  }
}

.panel {
  background-color: $own-panel-color;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  margin-bottom: $column-gutter;

  h3 {
    font-size: em-calc(18px);
    font-weight: 600;
    margin: 0;
    line-height: 1.2em;
  }

  h4 {
    font-size: em-calc(14px);
    color: $body-font-color;
    margin: 0;
    line-height: 1.2em;
    font-weight: normal;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.energy {
    background-image: url('../images/erneuerbare_energien.jpg')
  }
  &.cars {
    background-image: url("../images/hochwertige_fahrzeuge.jpg")
  }
  &.save {
    background-image: url("../images/unternehmen.jpg")
  }
  &.house {
    background-image: url("../images/hausrat_versicherunger.jpg")
  }

  &.immobilie {
    background: url("../images/immobilien_versicherung.jpg") no-repeat right 30px center $secondary-color;
  }

  &.image {
    height: $panel-height;
    &.big {
      height: $big-panel-height;
    }
  }

  .vertical-center {
    display: table-cell;
    vertical-align: middle;
    height: em-calc($big-panel-height)- 3rem;
    text-align: center;
    width: 100%/16 *10;
  }
}
