@import "foundation/components/inline-lists";

$navigation-padding: 2%;

ul.navigation {

  list-style: none;
  overflow: $inline-list-overflow;
  margin: 1.5em 0;

  & > li {
	list-style: none;
	float: $default-float;
	display: $inline-list-display;
	& > * {
	  display: $inline-list-children-display;
	}
  }

  li {
	text-align: center;
	background-color: $secondary-color;
	width: ((100%/7) - $navigation-padding)  + ($navigation-padding/7);
	height: 89px;
	padding-top: .5em;
	font-size: em-calc(15px);
	line-height: 1.2em;
	margin-left: $navigation-padding;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:first-child {
	  margin-left: 0;
	}

	a {
	  display: block;
	  width: 100%;
	  height: 100%;
	}

	&.logo {
	  background-image: url('/images/menu/menu_home.jpg');
	}
	&.versicherungs-management {
	  background-image: url('/images/menu/menu_versmanagement.jpg');
	}
	&.erneuerbare-energien {
	  background-image: url('/images/menu/menu_ernbenergn.jpg');
	}
	&.hochwertige-fahrzeuge {
	  background-image: url('/images/menu/menu_howtfahrzge.jpg');
	}
	&.unternehmen {
	  background-image: url('/images/menu/menu_untnm.jpg');
	}
	&.szaloesng {
	  background-image: url('/images/menu/menu_szaloesng.jpg');
	}
	&.immobilien {
	  background-image: url('/images/menu/menu_immbln.jpg');
	}

  }
}