aside.subnavigation {

	margin-bottom: 1.5em;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.image {
		border: 1px solid $accordion-navigation-bg-color;
		height: 230px;
	  	background-position: center bottom;
	  	background-repeat: no-repeat;

		h3 {
			font-size: em-calc(18px);
			font-weight: 600;
			margin: 0;
			padding-top: 2em;
			text-transform: capitalize;
		}

		&.active, &:hover {
			border-color: scale_color($accordion-navigation-bg-color, $lightness: -30%);
		}

		&.windkraftwerke {
			background-image: url('/images/erneuerbare-energien/windkraftwerke_bg.jpg')
		}

		&.solarkraftwerke {
			background-image: url('/images/erneuerbare-energien/solarkraftwerke_bg.jpg');
		}

		&.biogaskraftwerke {
			background-image: url('/images/erneuerbare-energien/biogaskraftwerke_bg.jpg');
		}
	  
	  &.auto {
		background-image: url('/images/fahrzeuge/auto_bg.jpg');
	  }

	  &.boot {
		background-image: url('/images/fahrzeuge/boot_bg.jpg');
	  }

	  &.flugzeug {
	  	background-image: url('/images/fahrzeuge/flugzeug_bg.jpg');
	  }
	  
	  &.werte {
		background-image: url('/images/unternehmen/werte_bg.jpg');
	  }

	  &.haftung {
		background-image: url('/images/unternehmen/haftung_bg.jpg');
	  }



	}
}