meta.foundation-version {
  font-family: "/5.4.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 14px; }

body {
  background: #fff;
  color: #535353;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 72.8571428571rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.7142857143rem;
    margin-right: -0.7142857143rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column, .columns {
  padding-left: 0.7142857143rem;
  padding-right: 0.7142857143rem;
  width: 100%;
  float: left; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .small-push-1 {
    position: relative;
    left: 6.25%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 6.25%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 18.75%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 18.75%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 31.25%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 31.25%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 43.75%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 43.75%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 56.25%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 56.25%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 68.75%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 68.75%;
    left: auto; }
  .small-push-12 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-12 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-13 {
    position: relative;
    left: 81.25%;
    right: auto; }
  .small-pull-13 {
    position: relative;
    right: 81.25%;
    left: auto; }
  .small-push-14 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .small-pull-14 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .small-push-15 {
    position: relative;
    left: 93.75%;
    right: auto; }
  .small-pull-15 {
    position: relative;
    right: 93.75%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0.7142857143rem;
    padding-right: 0.7142857143rem;
    float: left; }
  .small-1 {
    width: 6.25%; }
  .small-2 {
    width: 12.5%; }
  .small-3 {
    width: 18.75%; }
  .small-4 {
    width: 25%; }
  .small-5 {
    width: 31.25%; }
  .small-6 {
    width: 37.5%; }
  .small-7 {
    width: 43.75%; }
  .small-8 {
    width: 50%; }
  .small-9 {
    width: 56.25%; }
  .small-10 {
    width: 62.5%; }
  .small-11 {
    width: 68.75%; }
  .small-12 {
    width: 75%; }
  .small-13 {
    width: 81.25%; }
  .small-14 {
    width: 87.5%; }
  .small-15 {
    width: 93.75%; }
  .small-16 {
    width: 100%; }
  .small-offset-0 {
    margin-left: 0% !important; }
  .small-offset-1 {
    margin-left: 6.25% !important; }
  .small-offset-2 {
    margin-left: 12.5% !important; }
  .small-offset-3 {
    margin-left: 18.75% !important; }
  .small-offset-4 {
    margin-left: 25% !important; }
  .small-offset-5 {
    margin-left: 31.25% !important; }
  .small-offset-6 {
    margin-left: 37.5% !important; }
  .small-offset-7 {
    margin-left: 43.75% !important; }
  .small-offset-8 {
    margin-left: 50% !important; }
  .small-offset-9 {
    margin-left: 56.25% !important; }
  .small-offset-10 {
    margin-left: 62.5% !important; }
  .small-offset-11 {
    margin-left: 68.75% !important; }
  .small-offset-12 {
    margin-left: 75% !important; }
  .small-offset-13 {
    margin-left: 81.25% !important; }
  .small-offset-14 {
    margin-left: 87.5% !important; }
  .small-offset-15 {
    margin-left: 93.75% !important; }
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.small-centered, .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered, .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.small-centered:last-child, .columns.small-centered:last-child {
    float: none; }
  .column.small-uncentered:last-child, .columns.small-uncentered:last-child {
    float: left; }
  .column.small-uncentered.opposite, .columns.small-uncentered.opposite {
    float: right; } }

@media only screen and (min-width:40.063em) {
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .medium-push-1 {
    position: relative;
    left: 6.25%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 6.25%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 18.75%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 18.75%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 31.25%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 31.25%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 43.75%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 43.75%;
    left: auto; }
  .medium-push-8 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-8 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-9 {
    position: relative;
    left: 56.25%;
    right: auto; }
  .medium-pull-9 {
    position: relative;
    right: 56.25%;
    left: auto; }
  .medium-push-10 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .medium-pull-10 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .medium-push-11 {
    position: relative;
    left: 68.75%;
    right: auto; }
  .medium-pull-11 {
    position: relative;
    right: 68.75%;
    left: auto; }
  .medium-push-12 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-12 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-13 {
    position: relative;
    left: 81.25%;
    right: auto; }
  .medium-pull-13 {
    position: relative;
    right: 81.25%;
    left: auto; }
  .medium-push-14 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .medium-pull-14 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .medium-push-15 {
    position: relative;
    left: 93.75%;
    right: auto; }
  .medium-pull-15 {
    position: relative;
    right: 93.75%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0.7142857143rem;
    padding-right: 0.7142857143rem;
    float: left; }
  .medium-1 {
    width: 6.25%; }
  .medium-2 {
    width: 12.5%; }
  .medium-3 {
    width: 18.75%; }
  .medium-4 {
    width: 25%; }
  .medium-5 {
    width: 31.25%; }
  .medium-6 {
    width: 37.5%; }
  .medium-7 {
    width: 43.75%; }
  .medium-8 {
    width: 50%; }
  .medium-9 {
    width: 56.25%; }
  .medium-10 {
    width: 62.5%; }
  .medium-11 {
    width: 68.75%; }
  .medium-12 {
    width: 75%; }
  .medium-13 {
    width: 81.25%; }
  .medium-14 {
    width: 87.5%; }
  .medium-15 {
    width: 93.75%; }
  .medium-16 {
    width: 100%; }
  .medium-offset-0 {
    margin-left: 0% !important; }
  .medium-offset-1 {
    margin-left: 6.25% !important; }
  .medium-offset-2 {
    margin-left: 12.5% !important; }
  .medium-offset-3 {
    margin-left: 18.75% !important; }
  .medium-offset-4 {
    margin-left: 25% !important; }
  .medium-offset-5 {
    margin-left: 31.25% !important; }
  .medium-offset-6 {
    margin-left: 37.5% !important; }
  .medium-offset-7 {
    margin-left: 43.75% !important; }
  .medium-offset-8 {
    margin-left: 50% !important; }
  .medium-offset-9 {
    margin-left: 56.25% !important; }
  .medium-offset-10 {
    margin-left: 62.5% !important; }
  .medium-offset-11 {
    margin-left: 68.75% !important; }
  .medium-offset-12 {
    margin-left: 75% !important; }
  .medium-offset-13 {
    margin-left: 81.25% !important; }
  .medium-offset-14 {
    margin-left: 87.5% !important; }
  .medium-offset-15 {
    margin-left: 93.75% !important; }
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.medium-centered, .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered, .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.medium-centered:last-child, .columns.medium-centered:last-child {
    float: none; }
  .column.medium-uncentered:last-child, .columns.medium-uncentered:last-child {
    float: left; }
  .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
    float: right; }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .push-1 {
    position: relative;
    left: 6.25%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 6.25%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 18.75%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 18.75%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 31.25%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 31.25%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 43.75%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 43.75%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 56.25%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 56.25%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 68.75%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 68.75%;
    left: auto; }
  .push-12 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-12 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-13 {
    position: relative;
    left: 81.25%;
    right: auto; }
  .pull-13 {
    position: relative;
    right: 81.25%;
    left: auto; }
  .push-14 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .pull-14 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .push-15 {
    position: relative;
    left: 93.75%;
    right: auto; }
  .pull-15 {
    position: relative;
    right: 93.75%;
    left: auto; } }

@media only screen and (min-width:64.063em) {
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .large-push-1 {
    position: relative;
    left: 6.25%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 6.25%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 18.75%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 18.75%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 31.25%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 31.25%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 43.75%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 43.75%;
    left: auto; }
  .large-push-8 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-8 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-9 {
    position: relative;
    left: 56.25%;
    right: auto; }
  .large-pull-9 {
    position: relative;
    right: 56.25%;
    left: auto; }
  .large-push-10 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .large-pull-10 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .large-push-11 {
    position: relative;
    left: 68.75%;
    right: auto; }
  .large-pull-11 {
    position: relative;
    right: 68.75%;
    left: auto; }
  .large-push-12 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-12 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-13 {
    position: relative;
    left: 81.25%;
    right: auto; }
  .large-pull-13 {
    position: relative;
    right: 81.25%;
    left: auto; }
  .large-push-14 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .large-pull-14 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .large-push-15 {
    position: relative;
    left: 93.75%;
    right: auto; }
  .large-pull-15 {
    position: relative;
    right: 93.75%;
    left: auto; }
  .column, .columns {
    position: relative;
    padding-left: 0.7142857143rem;
    padding-right: 0.7142857143rem;
    float: left; }
  .large-1 {
    width: 6.25%; }
  .large-2 {
    width: 12.5%; }
  .large-3 {
    width: 18.75%; }
  .large-4 {
    width: 25%; }
  .large-5 {
    width: 31.25%; }
  .large-6 {
    width: 37.5%; }
  .large-7 {
    width: 43.75%; }
  .large-8 {
    width: 50%; }
  .large-9 {
    width: 56.25%; }
  .large-10 {
    width: 62.5%; }
  .large-11 {
    width: 68.75%; }
  .large-12 {
    width: 75%; }
  .large-13 {
    width: 81.25%; }
  .large-14 {
    width: 87.5%; }
  .large-15 {
    width: 93.75%; }
  .large-16 {
    width: 100%; }
  .large-offset-0 {
    margin-left: 0% !important; }
  .large-offset-1 {
    margin-left: 6.25% !important; }
  .large-offset-2 {
    margin-left: 12.5% !important; }
  .large-offset-3 {
    margin-left: 18.75% !important; }
  .large-offset-4 {
    margin-left: 25% !important; }
  .large-offset-5 {
    margin-left: 31.25% !important; }
  .large-offset-6 {
    margin-left: 37.5% !important; }
  .large-offset-7 {
    margin-left: 43.75% !important; }
  .large-offset-8 {
    margin-left: 50% !important; }
  .large-offset-9 {
    margin-left: 56.25% !important; }
  .large-offset-10 {
    margin-left: 62.5% !important; }
  .large-offset-11 {
    margin-left: 68.75% !important; }
  .large-offset-12 {
    margin-left: 75% !important; }
  .large-offset-13 {
    margin-left: 81.25% !important; }
  .large-offset-14 {
    margin-left: 87.5% !important; }
  .large-offset-15 {
    margin-left: 93.75% !important; }
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.large-centered, .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered, .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.large-centered:last-child, .columns.large-centered:last-child {
    float: none; }
  .column.large-uncentered:last-child, .columns.large-uncentered:last-child {
    float: left; }
  .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
    float: right; }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .push-1 {
    position: relative;
    left: 6.25%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 6.25%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 18.75%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 18.75%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 31.25%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 31.25%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 43.75%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 43.75%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 56.25%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 56.25%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 68.75%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 68.75%;
    left: auto; }
  .push-12 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-12 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-13 {
    position: relative;
    left: 81.25%;
    right: auto; }
  .pull-13 {
    position: relative;
    right: 81.25%;
    left: auto; }
  .push-14 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .pull-14 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .push-15 {
    position: relative;
    left: 93.75%;
    right: auto; }
  .pull-15 {
    position: relative;
    right: 93.75%;
    left: auto; } }

/* all app scss styles here */
header {
  background: url("../images/header_schimmel.jpg");
  width: 100%;
  height: 226px;
  margin-bottom: 1.4285714286rem;
  text-align: center;
  padding-top: 1.5em;
  margin-top: 2em;
  box-sizing: border-box; }
  header h1, header h2 {
    color: #fff;
    font-size: 1.2857142857rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2em; }
  header h2 {
    font-weight: normal; }
  header .logo {
    background: url('../images/logo_schimmel.png');
    width: 100px;
    height: 116px;
    margin: 0 auto;
    margin-top: 1.3em; }

.panel {
  background-color: #e8e8e8;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  margin-bottom: 1.4285714286rem; }
  .panel h3 {
    font-size: 1.2857142857rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2em; }
  .panel h4 {
    font-size: 1rem;
    color: #535353;
    margin: 0;
    line-height: 1.2em;
    font-weight: normal; }
  .panel a {
    display: block;
    width: 100%;
    height: 100%; }
  .panel.energy {
    background-image: url('../images/erneuerbare_energien.jpg'); }
  .panel.cars {
    background-image: url("../images/hochwertige_fahrzeuge.jpg"); }
  .panel.save {
    background-image: url("../images/unternehmen.jpg"); }
  .panel.house {
    background-image: url("../images/hausrat_versicherunger.jpg"); }
  .panel.immobilie {
    background: url("../images/immobilien_versicherung.jpg") no-repeat right 30px center #e7e7e7; }
  .panel.image {
    height: 230px; }
    .panel.image.big {
      height: 300px; }
  .panel .vertical-center {
    display: table-cell;
    vertical-align: middle;
    height: 18.4285714286rem;
    text-align: center;
    width: 62.5%; }
