extends ../template/15-grid
block title
	title Versicherungsmanagement | Schimmel Versicherungen
block content
	div.row
		div(class="small-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Der Partner an Ihrer Seite
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4 Der Partner an Ihrer Seite
							p.
								Die Schimmel Versicherungsmakler KG vertritt die
								Kundeninteressen in allen betrieblichen und privaten
								Versicherungsfragen. Zu unseren Kunden zählen kleine und
								mittelständische Unternehmen, Verbände, Kommunen und
								Freiberufler.

							p.
								Wir helfen Ihnen mit einer Analyse Ihres Unternehmens, durch
								Besichtigungen und Gespräche, einen Risikobedarf zu
								ermitteln und diesen maßgeschneidert zu versichern. Die
								Verhandlungen mit den Versicherern führen wir, als
								unabhängiger Versicherungsmakler, in Ihrem Interessen.

							p.
								Nach Vertragsabschluss fängt unsere Arbeit erst an. Als Ihr
								Ansprechpartner in allen Versicherungsfragen, entlasten wir
								Sie von zeitraubender Versicherungsarbeit. Angefangen mit
								kaufmännischer und technischer Betrachtung über die
								Schadenregulierung bis zur Schadenprävention steht Ihnen
								unser Leistungsangebot zur Verfügung.

							p.
								Unsere Dienstleistung wird mit modernsten IT-Lösungen
								abgerundet, und bietet Ihnen ein bequemes Handling Ihrer
								Versicherungen.

			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel3") Qualität verpflichtet
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel3" class="content active")
						article
							h4 Qualität verpflichtet
							p.
								Der hohe Qualitätsanspruch
								unserer Dienstleistung ist der
								Grund unseres Erfolgs. Um
								Ihrem Versicherungsbedarf zu
								entsprechen, sind wir
								unabhängig und persönlich für
								Sie da. Nur wenn Sie mit uns
								zufrieden sind, sind wir es
								auch. Wir verkaufen keine
								Standardprodukte, wir
								stehen für individuelle
								Versicherungskonzepte.
				dd(class="accordion-navigation active")
					a(href="#panel2") Qualität = Service
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content active")
							h4 Qualität = Service
							p.
								Unsere fachkundigen Berater
								erstellen gern bei einem
								persönlichen Termin eine
								Bedarfsanalyse.
								Sie erhalten ein individuelles,
								maßgeschneidertes
								Versicherungskonzept für
								Ihren Risikobedarf. 
								Durch regelmäßige Besuche
								kontrollieren wir Ihren Ist-Bedarf
								und passen diesen an.


		div(class="small-5 columns")
			include  ../partials/inquiry
