extends ../template/15-grid
block title
	title Speziallösungen | Schimmel Versicherungen
block content
	div.row
		div(class="small-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Speziallösungen
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4.nocontent Speziallösungen
							p
								b.
									Wir als Versicherungsmakler entwickeln in Zusammenarbeit mit Kunden und Versicherungsgesellschaften zielgruppenspezifische
									Versicherungslösungen. Diese individuellen Produkte und ein exellenter Service macht uns zum
									starken Partner.

							ul
								li Individuelle und einzigartige Produkte
								li Absicherung für Nischen- und Spezialitäten-Segment
								li Exellenter Service

				dd(class="accordion-navigation")
					a(href="#panel2") Rohr- und Kanalreinigerbranche
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content")
						article
							h4.nocontent Rohr- und Kanalreinigerbranche
							h5 ROKaRiSK
							p
								b.
									eine Spezialfahrzeugdeckung, abgestimmt auf die Anforderungen und Einsatzbereiche von Fahrzeugen und
									Geräten der Rohr- und Kanalreinigungerbranche sowie für kommunale Betriebe.
								br
								b Versichert sind das Grundfahrzeug und die Auf- oder Einbauten.

							p
								b Versicherungsumfang für das Grundfahrzeug
							ul
								li Mut- oder böswillige Handlungen betriebsfremder Personen
								li Unfall, Brand oder Explosion
								li Sturm, Hagel, Blitzschlag und Überschwemmung
								li Wildschäden, Glasbruch

							p
								b Versicherungsumfang für die Auf- oder Einbauten
							ul
								li Ausführungs-, Konstruktions- und Materialfehler
								li Bedienungsfehler, Ungeschicklichkeit oder Böswilligkeit
								li Fahrlässigkeit
								li Überdruck oder Unterdruck
								li Kurzschluss, Überstrom oder Überspannung
								li Schäden an Fernsehsystemen durch Verkehrsunfälle
								li Brand, Blitzschlag, Explosion
								li Sturm, Frost, Eisgang, Erdbeben, Überschwemmung oder Hochwasser
								li Diebstahl, Einbruchdiebstahl und Raub
								li Unfall

							p
								b Nicht versichert sind
							ul
								li Krieg oder Terror
								li dauernde, sich wiederholende Einflüsse von außen
								li betriebsbedingte Abnutzung und Verschleiß sowie betriebsbedingte Wasser- und Säuredampfeinwirkung
								li Schäden, die ein Hersteller oder Händler zu vertreten hat


		div(class="small-5 columns")
			include  ../partials/inquiry
