doctype html
html(class="no-js", lang="de")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block title
			title Olaf Schimmel
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
		// build:css /css/libraries.min.css

		// bower:css
		// endbower
		// endbuild
		// build:css /css/app-main.min.css
		link(rel="stylesheet", href="/css/app.css")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/app_override.css")
		// endbuild
		link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Neuton:400,700")
		// build:js /js/vendor/modernizr.min.js
		script(src="/bower_components/modernizr/modernizr.js")
		// endbuild
		body
			h1.nocontent  Schimmel Versicherungen

							
			block content

			footer
				div.row
					div(class="small-16 columns")
						div.dark-panel Unabhängige und persönliche Beratung - und das seit über 20 Jahren
					span  © 2014 - Schimmel Versicherungsmakler KG | Alle Rechte vorbehalten | Telefon: 030-94 63 29 91 | Email: info@schimmel-makler.de
					br
					a(href="/kontakt.html") Kontakt
					span |
					a(href="/impressum.html") Impressum
					div.logo
			// build:js /js/vendor/libraries.min.js
			// bower:js
			script(src='/bower_components/jquery/dist/jquery.js')
			script(src='/bower_components/fastclick/lib/fastclick.js')
			// endbower
			// endbuild
			// build:js /js/vendor/foundation.min.js
			script(src="/bower_components/foundation/js/foundation/foundation.js")
			script(src="/bower_components/foundation/js/foundation/foundation.abide.js")
			script(src="/bower_components/foundation/js/foundation/foundation.accordion.js")
			script(src="/bower_components/foundation/js/foundation/foundation.alert.js")
			script(src="/bower_components/foundation/js/foundation/foundation.clearing.js")
			script(src="/bower_components/foundation/js/foundation/foundation.dropdown.js")
			script(src="/bower_components/foundation/js/foundation/foundation.equalizer.js")
			script(src="/bower_components/foundation/js/foundation/foundation.interchange.js")
			script(src="/bower_components/foundation/js/foundation/foundation.joyride.js")
			script(src="/bower_components/foundation/js/foundation/foundation.magellan.js")
			script(src="/bower_components/foundation/js/foundation/foundation.offcanvas.js")
			script(src="/bower_components/foundation/js/foundation/foundation.orbit.js")
			script(src="/bower_components/foundation/js/foundation/foundation.reveal.js")
			script(src="/bower_components/foundation/js/foundation/foundation.slider.js")
			script(src="/bower_components/foundation/js/foundation/foundation.tab.js")
			script(src="/bower_components/foundation/js/foundation/foundation.tooltip.js")
			script(src="/bower_components/foundation/js/foundation/foundation.topbar.js")
			// endbuild
			// build:js /js/app.min.js
			script(src="/js/app.js")
			// endbuild