div.inquiry
	h5 Sprechen Sie uns an, wir beraten Sie gerne.
	div.row
		div(class="small-4 columns")
			b Telefon
		div(class="small-11 columns") (030) 94 63 29 91
	div.row
		div(class="small-4 columns")
			b Handy
		div(class="small-11 columns") (0173) 23 969 26
	div.row
		div(class="small-4 columns")
			b Telefax
		div(class="small-11 columns") (030) 94 63 29 93
	div.row
		div(class="small-4 columns")
			b E-Mail
		div(class="small-11 columns") info@schimmel-makler.de
	hr
	p 
		b Hausanschrift </br>
		span Panketal - Alt-Zepernick 3

	p 
		b Postanschrift </br>
		span Panketal Postfach 11 19