extends ../template/15-grid
block title
	title Immobilien | Schimmel Versicherungen
block content
	div.row
		div(class="small-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					div.inactive Wohngebäudeversicherung
					div(id="panel1" class="content active")
						article
							h4.nocontent Wohngebäudeversicherung
							p
								b.
									Besitz gegen alle Eventualitäten absichern.
							p.
								Feuer, Leitungswasser, Hagel und Sturm können einer Immobilie schwere Schäden zufügen. Eine Wohngebäudeversicherung braucht jeder Immobilienbesitzer!
							p Insbesondere mitversichert sind
							ul
								li Feuer
								li Sturm
								li Leitungswasser
							h5.subheader Mögliche Zusatzdeckung
							ul
								li
									b Elementarschaden Versicherung
									p schützt vor Schäden durch Naturgewalt wie Hochwasser, Erdbeben, Erdsenkung, Erdrutsch, Schneedruck, Lawinen
								li
									b Hausratversicherung
									p ersetzt das Inventar (z.B. Möbel, Antiquitäten, Schmuck, Kunst usw.)
								li
									b Glasversicherung
									p schützt die Gebäudeverglasung und die damit verbundenen Kosten
								li
									b Haus- und Grundbesitzerhaftpflicht
									p Gefahren, die die Immobilie für Dritte oder die Umwelt darstellt, werden versichert. (z.B. loser Dachziegel verletzt einen Passanten)
								li
									b Rechtsschutzversicherung
									p teure Auseinandersetzungen vor Gericht mindern
								li
									b Risikolebensversicherung
									p stellt sicher, dass den Hinterbliebenen im Todesfall kein Schuldenberg hinterlassen wird
								li
									b Restschuldversicherung
									p die Beitragshöhe kann so festgelegt werden, dass im Ernstfall die monatlichen Einnahmen für das Abbezahlen der Immobilie ausreichend.
									p „Wir raten, eine solche Versicherung unbedingt in Erwägung zu ziehen! Da im Falle einer Erkrankung der gesetzliche Schutz nicht ausreichend ist.“

		div(class="small-5 columns")
			include  ../partials/inquiry
