extends ../template/15-grid
block title
	title Haftung | Unternehmen | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-7 columns text-center")
				div(class="image haftung active")
					a(href="haftung.html")
						h3 Haftung
			div(class="small-8 columns text-center")
				div(class="image werte")
					a(href="werte.html")
						h3 Werte
	div.row
		div(class="large-10 columns")
			div(class="callout success")
				p
					b.
						Für die speziellen Problemstellungen im gewerblichen Bereich, ist die Grundvoraussetzung eine kompetente und
						erfahrene Maklerberatung für eine solide Absicherung. Wir vertreten Ihre Interessen.

				ul
					li transparente und kostenoptimierte Versicherungspolicen
					li persönliche und individuelle Beratung
					li faire Schadenbehandlung
					li individuelle Konzepte

			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Directors & Officers Versicherung (D&O)
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4.nocontent Directors & Officers Versicherung (D&O)
							p
								b Wir bieten, je nach Unternehmensgröße und Gesellschaftsform, ein maßgeschneidertes Konzept.
							p.
								In den letzen Jahren ist das Risiko für Geschäftsführer oder leitende Angestellte, wegen Sorgfaltspflichtverletzungen
								persönlich und unbegrenzt in die Haftung genommen zu werden, gestiegen. Mangelnde Sorgfalt kann ein Versäumnis
								bei einer Auftragsvergabe sein, das Geld gekostet hat und für das das Unternehmen einen Schadenersatz fordert.
							p.
								Die D&O Versicherung versichert die Unternehmensleitung gegen Vermögensschäden, die innerhalb der versicherten
								Zeit aufgrund von Verstößen gegen die Sorgfaltspflicht entstehen, sofern diese nicht vorsätzlich oder wissentlich
								geschahen.


							h5.subheader sinnvolle Zusatzdeckung
							ul
								li
									b Strafrechtsschutzversicherung
									p übernimmt die Rechtsverteidigungskosten in einem Strafverfahren

							p.
								Unabhängig von der Rechtsform des Unternehmens, bietet die D&O Versicherung Lösungen für
								Vorstände, Geschäftsführer, Aufsichtsräte, Beiräte und leitende Angestellte.

				dd(class="accordion-navigation")
					a(href="#panel2") Strafrechtsschutzversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content")
						article
							h4.nocontent Strafrechtsschutzversicherung
							p
								b Unternehmer, Geschäftsführer oder Mitarbeiter müssen rechtlich für Entscheidungen geradestehen.
							p.
								Ein einfacher Verdacht reicht meist aus, um Ermittlungen der Staatsanwaltschaft in Gang zu setzten. Zum Beispiel
								aufgrund von unvorhersehbaren Verstößen in den Bereichen Bilanzierung, Steuern, Umwelt oder Produkthaftung.

							h5.subheader Insbesondere mitversichert sind
							ul
								li Anwaltsgebühren des Rechtsanwalts (freie Wahl)
								li Gerichtskosten
								li eigene und vom Gericht bestellte Sachverständige
								li Zeugengebühren
								li Strafkaution

							p.
								Bei einer Vorhandenen D&O-Versicherung, werden die Leistungen der Strafrechtsschutzversicherung lückenlos an die
								D&O-Versicherung angepasst.

				dd(class="accordion-navigation")
					a(href="#panel3") Vertrauensschaden-Versicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel3" class="content")
						article
							h4.nocontent Vertrauensschaden-Versicherung
							p.
								Eine Vertrauensschaden-Versicherung schützt Unternehmen vor Vermögensschäden aus unerlaubten Handlungen, die von
								Arbeitnehmern, Angestellten, Aushilfen, Praktikanten, Zeitarbeitskräften, Geschäftsführern oder sonstigen Vertrauenspersonen des
								Unternehmens begangen werden.
							ul
								li Betrug
								li Diebstahl
								li Unterschlagung
								li Untreue
								li Sachbeschädigung
								li Sabotage
								li Angriff von Hackern auf die EDV
								li alle Handlungen die nach § 823 BGB zum Schadenersatz verpflichten!
							h5.subheader Vorteile für Ihr Unternehmen:
							ul
								li Schutz der Liquidität
								li höhere interne Kontrolle
								li ersetzt Schäden die Dritten zugefügt werden
								li individuele Ausgestaltung
								li weltweite Versicherungsschutz

				dd(class="accordion-navigation")
					a(href="#panel4") Betriebs-Haftpflichtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel4" class="content")
						article
							h4.nocontent Betriebs-Haftpflichtversicherung
							p.
								In Deutschland haftet jedes Unternehmen unbegrenzt mit seinem gesamten Vermögen, für Schäden die Inhaber und
								Mitarbeiter verursachen.
							p.
								Die Betriebs-Haftpflichtversicherung ist ein zentrales Element der Absicherung gegen:
							ul
								li Personenschäden
								li Eigentumsschäden Dritter sowie Vermögensfolgeschäden
								li unberechtigte Schadensersatzforderungen
								li Anwalts- und Prozesskosten
								li Schadensfälle im In- und Ausland
									i (in der Regel auf bestimmte Geltungsbereiche begrenzt)

							h5.subheader sinnvolle Zusatzdeckung
							ul
								li
									b Produkthaftpflichtversicherung
									p deckt Schäden, die durch ein fehlerhaftes Produkt eines Herstellerunternehmens verursacht werden.
								li
									b Vermögensschadenhaftpflichtversicherung
									p.
										bietet Dienstleistungs- und beratenden Berufen Schutz vor finanziellen Schäden, die infolge einer fehlerhaften
										Beratung oder Dienstleistung entstehen können


		div(class="small-5 columns")
			include  ../partials/inquiry