extends ../template/15-grid
block title
	title Werte | Unternehmen | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-7 columns text-center")
				div(class="image haftung")
					a(href="haftung.html")
						h3 Haftung
			div(class="small-8 columns text-center")
				div(class="image werte active")
					a(href="werte.html")
						h3 Werte
	div.row
		div(class="large-10 columns")
			div(class="callout success")
				p
					b.
						Für die speziellen Problemstellungen im gewerblichen Bereich, ist die Grundvoraussetzung eine kompetente und
						erfahrene Maklerberatung für eine solide Absicherung. Wir vertreten Ihre Interessen.

				ul
					li transparente und kostenoptimierte Versicherungspolicen
					li persönliche und individuelle Beratung
					li faire Schadenbehandlung
					li individuelle Konzepte

			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Gebäudeversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4.nocontent Gebäudeversicherung
							p
								b Schutz für das Fundament Ihres Unternehmens.
							p.
								Im Extremfall wird die Existenz Ihres Betriebes bedroht. Wir sorgen vor und erstellen ein maßgeschneidertes
								Versicherungskonzept für Ihr Betriebsgebäude.



							h5.subheader Insbesondere mitversichert sind
							ul
								li Feuer, Sturm und Hagel
								li Einbruchsdiebstahl
								li Leitungswasser

							h5.subheader sinnvolle Zusatzdeckung
							ul
								li
									b Geschäftsinhaltversicherung
									p Waren und Vorräte werden finanziell ausgeglichen
								li
									b Betriebsunterbrechungsversicherung
									p ersetzt den entgangenen Gewinn und die weiteren anfallenden Fixkosten (z.B. Miete, Gehälter)
								li
									b Glasversicherung
									p schützt die Gebäudeverglasung und die damit verbundenen Kosten (z.B. Gerüstkosten, Schäden an Ware)
								li
									b Elektronikversicherung
									p greift bei Schäden an Anlagen und Geräten der Informations-, Kommunikations- und Bürotechnik


				dd(class="accordion-navigation")
					a(href="#panel2") Maschinenversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content")
						article
							h4.nocontent Maschinenversicherung
							p
								b Absicherung der finanziellen Risiken bei schadenbedingten Ausfällen.
							p.
								Maschinen sind wichtige Ressourcen eines Betriebes und für den wirtschaftlichen Erfolg äußerst wichtig.
								Je mehr der Betriebsalltag von maschinellen Einrichtungen bestimmt wird, umso stärker wirken sich deren
								Schäden auf den Arbeitsablauf aus.

							p Mit uns schützen Sie Ihre mobilen und stationären Maschinen mit einem individuellen Versicherungskonzept.

							h5.subheader Insbesondere mitversichert sind
							ul
								li Bedienungsfehler, Ungeschicklichkeit, Fahrlässigkeit
								li Konstruktions-, Material- und Ausführungsfehler
								li Versagen von Mess-, Regel- oder Sicherheitseinrichtung
								li Wasser-, Öl- oder Schmiermittelmangel
								li Kurzschluss, Überstrom oder Überspannung
								li Sturm, Frost, Eisgang

		div(class="small-5 columns")
			include  ../partials/inquiry