
extends template/15-grid

block title
	title Schimmel Versicherungsmanagement
	
block content

	div.row
		div(class="small-15 columns")
			hr
			h3.nocontent Impressum
			h4 Schimmel Versicherungsmakler KG
			p.
				HRA: 3146 FF </br>
				Amtsgericht: Frankfurt/Oder </br>
				Geschäftsführender Gesellschafter: Olaf Schimmel </br>

			h4 Olaf Schimmel Versicherungsmakler </br>
			p Inhaber: Olaf Schimmel

			h4 Kommunikation
			p 
				| Hausanschrift: 16341 Panketal – Alt-Zepernick 3 </br>
				| Postanschrift: 16336 Panketal – Postfach 11 19 </br>
				| Telefon: (030) 94 63 29 91 </br>
				| Handy: (0173) 23 969 26 </br>
				| Telefax: (030) 94 63 29 93 </br>
				| E-Mail: info@schimmel-makler.de
			h4 Registrierung
			p Registrierungsnummer: D-H3QT-0PEQJ-34
			div.row
				div(class="small-7 columns")
					p.
						Industrie- und Handelskammer Ostbrandenburg </br>
						Puschkinstraße 12 b </br>
						15236 Frankfurt/Oder </br>
						Telefon: (0335) 56 21-0 </br>
						(www.ihk-ostbrandenburg.de) </br>
				div(class="small-8 columns")
					p.
						Deutscher Industrie- und Handelskammertag (DIHK) e.V. </br>
						Breite Straße 29 </br>
						10178 Berlin /<br>
						Telefon: (0180) 500 585-0 (14 Cent/Min. aus dem dt. Festnetz) </br>
						(www.vermittlerregister.info)
			h4 Beschwerdestellen
			p.
				Versicherungsombudsmann e.V. </br>
				Postfach 08 06 22 </br>
				10006 Berlin </br>
				(www.versicherungsombudsmann.de)
			p.
				Ombudsmann für die private Kranken- und Pflegeversicherung </br>
				Kronenstr. 13 </br>
				10117 Berlin </br>
				(www.pkv-ombudsmann.de) </br>
			p.
				Bundesanstalt für Finanzdienstleistungsaufsicht (BAFin) </br>
				Graurheindorfer Straße 108 </br>
				53117 Bonn </br>
				(www.bafin.de)


			