
extends template/16-grid

block title
	title Schimmel Versicherungsmanagement
	
block content

	div.row
		div(class="small-16 columns")
			header
				h1 Versicherungsmanagement
				h2 Entlastung von zeitraubender Verwaltungsarbeit
				a(href='versicherungs-management/versicherungs-management.html') 
					div.logo
	div.row
		div(class="small-5 columns")
			div(class="panel energy image")
				a(href="/erneuerbare-energien/windkraftwerke.html")
					h3 Erneuerbare Energien
					h4 Investition & Rendite versichern.

		div(class="small-6 columns")
			div(class="panel cars image")
				a(href="/hochwertige-fahrzeuge/boot.html")
					h3 Hochwertige Fahrzeuge
					h4 kostbare Träume sicher bewegen.

		div(class="small-5 columns")
			div(class="panel save image")
				a(href="unternehmen/haftung.html")
					h3 Unternehmen
					h4 vor Risiken geschützt sein.

	div.row
		div(class="small-5 columns")
			div(class="panel")
				a(href="#")
					h3 Reiseversicherung
					h4 finanzielle Verluste dauerhaft schützen.

		div(class="small-6 columns")
			div(class="panel")
				a(href="#")
					h3 Auslandskrankenversicherung
					h4 egal ob Geschäfts- oder Urlaubsreise.

		div(class="small-5 columns")
			div(class="panel")
				a(href="#")
					h3 Terminvereinbarung
					h4 hier werden ihre Fragen beantwortet.

	div.row
		div(class="small-5 columns")
			div(class="panel image big house")
				a(href="/spezial-loesungen/spezial-loesungen.html")
					h3 Speziallösungen
					h4 wertvolles ersetzt bekommen.

		div(class="small-11 columns")
			div(class="panel image big immobilie")
				a(href="/immobilien/immobilien.html")
					div.row
						div(class="small-10 columns")
							div.vertical-center
								h3 Immobilienversicherung
								h4 ob im Land oder im Ausland gut abgesichert.