
extends template/15-grid

block title
	title Kontakt | Schimmel Versicherungsmanagement
	
block content

	div.row
		div(class="small-15 columns")
			hr
			h3.nocontent Kontakt
			h4 Schimmel Versicherungsmakler KG
			p.
				HRA: 3146 FF </br>
				Amtsgericht: Frankfurt/Oder </br>
				Geschäftsführender Gesellschafter: Olaf Schimmel </br>

			h4 Olaf Schimmel Versicherungsmakler </br>
			p Inhaber: Olaf Schimmel

			h4 Kommunikation
			p.
				Hausanschrift: 16341 Panketal – Alt-Zepernick 3 </br>
				Postanschrift: 16336 Panketal – Postfach 11 19 </br>
				Telefon: (030) 94 63 29 91 </br>
				Handy: (0173) 23 969 26 </br>
				Telefax: (030) 94 63 29 93 </br>
				E-Mail: <a href="mailto:info@schimmel-makler.de?subject=Anfrage">info@schimmel-makler.de</a>