extends ../template/15-grid
block title
	title Biogaskraftwerke | Schimmel Versicherungen
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image windkraftwerke")
					a(href="windkraftwerke.html")
						h3 Windkraftwerke
			div(class="small-5 columns text-center")
				div(class="image solarkraftwerke")
					a(href="solarkraftwerke.html")
						h3 Solarkraftwerke
			div(class="small-5 columns text-center")
				div(class="image biogaskraftwerke active")
					a(href="biogaskraftwerke.html")
						h3 Biogaskraftwerke
	div.row
		div(class="large-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					div.inactive Allgefahrendeckung inkl. Ertragsausfall
					div(id="panel1" class="content active")
						article
							p
								b Wir erstellen für Ihr Biogaskraftwerk ein individuelles Versicherungskonzept!
		div(class="large-5 columns")
			include  ../partials/inquiry


