extends ../template/15-grid

block title
	title Solarkraftwerke

block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image windkraftwerke")
					a(href="windkraftwerke.html")
						h3 Windkraftwerke
			div(class="small-5 columns text-center")
				div(class="image solarkraftwerke active")
					a(href="solarkraftwerke.html")
						h3 Solarkraftwerke
			div(class="small-5 columns text-center")
				div(class="image biogaskraftwerke")
					a(href="biogaskraftwerke.html")
						h3 Biogaskraftwerke
	div.row
		div(class="large-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Allgefahrendeckung inkl. Ertragsausfall
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							h4.nocontent Allgefahrendeckung inkl. Ertragsausfall
							p.
								Versichert sind alle Schäden, die im Zusammenhang
								mit dem im Versicherungsschein bezeichneten
								Solarkraftwerk stehen, soweit diese
								nicht ausdrücklich ausgeschlossen sind.
								Insbesondere mitversichert sind
							ul
								li Sabotage, Vandalismus
								li Diebstahl
								li Brand, Blitzschlag
								li Konstruktions-, Material- oder Montagefehler
								li Tierverbiss
								li Sturm, Hagel

							h5.subheader sinnvolle Zusatzdeckungen
							ul
								li
									b Ertragsausfallversicherung
									p.
										Versichert ist der, infolge eines versicherten Schadens,
										entstandene Ertragsausfall. Empfehlenswert ist eine Haftzeit von 12 Monaten!

								li
									b Ertragsminderungsversicherung
									p.
										Wird der prognostizierte Jahresenergieertrag des versicherten Solarkraftwerkes 
										um mehr als 10% unterschritten, so ersetzt der Versicherer den hierdurch entstehenden 
										Minderertrag. Als Nachweis dient ein Ertragsgutachten.

								li
									b GAP-Deckung
									p.
										Ist der Wiederaufbau des versicherten Solarkraftwerkes aus Gründen, die der
										Versicherungsnehmer nicht zu vertreten hat, nicht möglich, wird bei
										Bestehen eines Kreditvertrages zur Finanzierung der versicherten Sache
										mindestens die Restschuld aus dem Kreditvertrag erstattet. Grenze der
										Ersatzleistung ist die ursprünglich vereinbarte Versicherungssumme.

				dd(class="accordion-navigation")
					a(href="#panel2") Betreiber-Haftpflichtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content")
						article
							p.
								Eine Betreiber-Haftpflichtversicherung kommt für Schäden an fremdem Eigentum,
								fremdem Personen oder fremden Vermögen auf, die durch das Solarkraftwerk verursacht wurden.

							h5.subheader  sinnvolle Zusatzdeckung
							ul
								li
									b Allmählichkeits- und Gebäudeschäden
									p.
										Durch allmählich eintretende Feuchtigkeit an den Anschraubpunkten eines Solarkraftwerks 
										könnten im Laufe der Zeit Schäden am Dachstuhl entstehen, wofür der Gebäudeeigentümer 
										den Betreiber haftbar machen kann.


				dd(class="accordion-navigation")
					a(href="#panel3") Montageversicherung & Bauherren-Haftpflichtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel3" class="content")
						article
							h4 Montageversicherung
							ul
								li
									b Allgefahrenversicherung
									p.
										alle Gefahren für das Solarkraftwerk sind versichert, sofern eine 
										Gefahr nicht ausdrücklich vom Versicherungsschutz ausgenommen ist

								li
									b Technische Sachversicherung
									p.
										versichert sind unvorhergesehen eingetretene Beschädigungen und Zerstörungen 
										von versicherten Sachen sowie alle Lieferungen und Leistungen für die Errichtung 
										des Solarkraftwerkes
								li
									b Risikoausschlüsse
									p.
										Prototypenklausel (kein Versicherungsschutz für Schäden an Lieferungen und 
										Leistungen, die erstmalig ausgeführt wurden) keine Entschädigung

							br
							br
							h4 Bauherren-Haftpflichtversicherung
							p.
								Eine Bauherren-Haftpflichtversicherung bietet Schutz bei
								Schadenersatzansprüchen dritter im Zusammenhang mit einer Baustelle.

		div(class="small-5 columns")
			include  ../partials/inquiry


