extends ../template/15-grid
block title
	title Winkraftwerke
block content
	aside.subnavigation
		h2.nocontent Subnavigation
		div.row
			div(class="small-5 columns text-center")
				div(class="image windkraftwerke active")
					a(href="windkraftwerke.html")
						h3 Windkraftwerke
			div(class="small-5 columns text-center")
				div(class="image solarkraftwerke")
					a(href="solarkraftwerke.html")
						h3 Solarkraftwerke
			div(class="small-5 columns text-center")
				div(class="image biogaskraftwerke")
					a(href="biogaskraftwerke.html")
						h3 Biogaskraftwerke
	div.row
		div(class="large-10 columns")
			dl(class="accordion", data-accordion)
				dd(class="accordion-navigation active")
					a(href="#panel1") Allgefahrendeckung inkl. Ertragsausfall
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel1" class="content active")
						article
							p
								b Wir erstellen für Ihr Windkraftwerk ein individuelles Versicherungskonzept!

							p.
								Versichert sind alle Schäden, die im Zusammenhang mit dem im Versicherungsschein bezeichneten Windkraftwerk
								stehen, soweit diese nicht ausdrücklich ausgeschlossen sind.
								Insbesondere mitversichert sind

							ul
								li Sabotage, Vandalismus
								li Diebstahl
								li Brand, Blitzschlag
								li Konstruktions-, Material- oder Montagefehler
								li Tierverbiss
								li Sturm, Frost, Hagel
								li Überspannung, Kurzschluss


							h5.subheader Besonderheiten

							ul
								li Aufräumungs-, Dekontaminations- und Entsorgungskosten
								li Dekontaminations- und Entsorgungskosten für Erdreich
								li Bewegungs- und Schutzkosten
								li.
									Kosten für Erd-, Pflaster-, Maurer- und Stemmarbeiten,
									Gerüststellung, Bergungsarbeiten,
									Bereitstellung eines Provisoriums, Luftfracht

								li Schadenbedingte Arbeiten
								li Feuerlöschkosten

				dd(class="accordion-navigation")
					a(href="#panel2") Betreiber-Haftpflichtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel2" class="content")
						article
							p.
								Eine Betreiber-Haftpflichtversicherung kommt für Schäden an fremdem Eigentum,
								fremdem Personen oder fremden Vermögen auf, die durch das Windkraftwerk verursacht wurden.


				dd(class="accordion-navigation")
					a(href="#panel3") Montageversicherung & Bauherren-Haftpflichtversicherung
						span(class="fa fa-plus") öffnen
						span(class="fa fa-minus") schliessen
						span.clearfix
					div(id="panel3" class="content")
						article
							h4 Montageversicherung
							ul
								li
									b Allgefahrenversicherung
									p.
										alle Gefahren für das Windkraftwerk sind versichert, sofern eine
										Gefahr nicht ausdrücklich vom Versicherungsschutz ausgenommen ist

								li
									b Technische Sachversicherung
									p.
										versichert sind unvorhergesehen eingetretene Beschädigungen und
										Zerstörungen von versicherten Sachen sowie alle Lieferungen und
										Leistungen für die Errichtung des Windkraftwerkes
								li
									b Risikoausschlüsse
									p.
										Prototypenklausel (kein Versicherungsschutz für Schäden an Lieferungen
										und Leistungen, die erstmalig ausgeführt wurden) keine Entschädigung für Mängel

							br
							br
							h4 Bauherren-Haftpflichtversicherung
							p.
								Eine Bauherren-Haftpflichtversicherung bietet Schutz bei
								Schadenersatzansprüchen Dritter im Zusammenhang mit einer Baustelle.

		div(class="small-5 columns")
			include  ../partials/inquiry
